{% extends 'hospital/homebase.html' %}
{% load static %}
{% block content %}
<style>
  .display-4{
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins,sans-serif;
  }
  .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/contact.jpg" %}') !important ;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      opacity: 0.85;
    }
    *{
      font-family: poppins,sans-serif;
    }
</style>
<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead">Welcome to HealthPro.</p>
  <hr class="my-4">
  <p style="font-size: 20px;">You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-dark btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
