{% extends 'hospital/homebase.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&family=Bree+Serif&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<style>
  .display-4{
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins,sans-serif;
  }
  .all{
    font-family: Poppins,sans-serif;
  }

  .lead{
    font-size: 20px !important;
  }

  .para{
    font-size: 18px;
  }
  
  .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/contact.jpg" %}') !important ;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      opacity: 0.85;
    }
  
</style>

<br>
<br>

<div class=" all jumbotron" style="margin-bottom:0px;">
  <h3 class="display-4" style="text-align:center;">Hello, Patient</h3>
  <p class="lead">Welcome to HealthPro</p>
  <hr class="my-4">
  <p class="para">You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-dark btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>


{% endblock content %}
